---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app influxdb
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 3.7.3
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  uninstall:
    keepHistory: false
  values:
    defaultPodOptions:
      automountServiceAccountToken: false
    controllers:
      influxdb:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: docker.io/library/influxdb
              tag: 2.8-alpine@sha256:f15dfc604753f53b180364a331b46c2f4bc5c08a665d025982b301efa69bc2f7
            resources:
              requests:
                cpu: 100m
                memory: 500M
              limits:
                memory: 900M
            probes:
              liveness: &health
                enabled: true
                custom: true
                spec:
                  initialDelaySeconds: 30
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
                  httpGet:
                    path: /health
                    port: 8086
              readiness: *health
              startup:
                enabled: true
                custom: true
                spec:
                  initialDelaySeconds: 0
                  timeoutSeconds: 1
                  periodSeconds: 5
                  failureThreshold: 30
                  httpGet:
                    path: /health
                    port: 8086
    service:
      app:
        controller: *app
        ports:
          http:
            enabled: false
            port: 8080
          influxdb:
            enabled: true
            port: 8086
    ingress:
      app:
        annotations:
          hajimari.io/enable: "false"
          # external-dns.alpha.kubernetes.io/target: external.${SECRET_DOMAIN}
          # nginx.ingress.kubernetes.io/ssl-redirect: "false"
          # ingress.kubernetes.io/proxy-ssl-verify: "off"
          # ingress.kubernetes.io/force-ssl-redirect: "false"
          # ingress.kubernetes.io/ssl-redirect: "false"
        className: internal
        hosts:
          - host: influxdb.${SECRET_DOMAIN}
            paths:
              - path: /
                service:
                  identifier: app
                  port: 8086
        # tls:
        #   - hosts:
        #       - influxdb-brad.${SECRET_DOMAIN}
    persistence:
      config:
        enabled: true
        existingClaim: *app
        globalMounts:
          - path: /var/lib/influxdb2
